* {
  margin: 0; padding: 0;
}

.homeslider {
  position: relative;
  margin: auto;
  overflow: hidden;
  list-style: none;
}
.homeslider img {
  display: block;
  float: left;
}
.homeslider ul {
  list-style: none;
}
.homeslider ul li.slide {
  position: relative;
  float: left;
}
.homeslider ul li.slide, .homeslider ul li.slide img {
  height: 0px;
}
.homeslider ul li.slide img {
  opacity: 0.5;
}
.homeslider ul li.slide.active, .homeslider ul li.slide.active img {
  height: 100%;
  width: 100%;
}
.homeslider ul li.slide.active img {
  opacity: 1;
}
.homeslider .caption {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  padding: 10px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.6);
}

.homeslider .caption h2, .homeslider .caption div {
  padding: 7px;
}
.homeslider .caption h2 {
  font-size: 24px;
}
.homeslider .caption div {
  font-size: 18px;
  float: left;
  clear: both;
}

.direction {
  position: absolute;
  top: 50%; margin-top: -74px;
  left: 0; right: 0;
  display: block;
  z-index: 9999;
}
.direction .prev, .direction .next {
  position: absolute;
  top: 50%;
  color: #ffffff;
  font-size: 40px ;
  cursor: pointer;
}
.direction .prev {
  left: 10px;
}
.direction .next {
  right: 10px;
}
